<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CCControlExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>CCControlExtensions-Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>CCControlExtensions-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CCControlExtensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D711478415F7E75E0063D9F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D711484815F7EBC00063D9F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D711488515F7ED8E0063D9F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D71148DB15F7F6160063D9F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D71148EB15F7F7970063D9F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D71148FE15F7F7C40063D9F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCC1A0E213A94ED5005BD75D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCC1A25913A94EE6005BD75D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
